@{
    ViewData["Title"] = "Home Page";
}
@section Stylesheets {
    <link href="~/css/Index.css" rel="stylesheet" />
}

<div> <h1 class="display-4">Bastakoti FC</h1>

    <p>Technique is not being able to juggle a ball 1000 times. Anyone can do that by practicing. Then you can work in the circus. Technique is passing the ball with one touch, with the right speed, at the right foot of your team mate.</a>.</p>
</div>
